.copyright-2022,
.copyright-20221 {
  position: absolute;
  height: 0.68%;
  width: 15%;
  top: 180.35%;
  left: 43.06%;
  font-size: var(--font-size-base);
  display: inline-block;
}
.copyright-20221 {
  top: 180.27%;
  left: 42.64%;
}
.di-indonesia-seluruh {
  position: absolute;
  top: 313px;
  left: 84px;
  letter-spacing: 0.1em;
  line-height: 142.4%;
  color: var(--color-gray-100);
  text-align: justify;
  display: flex;
  align-items: center;
  width: 652px;
}
.landing-page-middle-child {
  position: absolute;
  top: 938px;
  left: 138px;
  border-radius: var(--br-81xl);
  background-color: var(--color-firebrick-500);
  width: 1200px;
  height: 601px;
}
.group-child,
.landing-page-middle-item {
  position: absolute;
  top: 991px;
  left: 60px;
  border-radius: 0 120px 0 var(--br-281xl);
  background-color: var(--tertiary-merah);
  width: 519px;
  height: 606px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 166px;
  height: 44px;
}
.selengkapnya {
  position: absolute;
  width: 80.12%;
  top: 22.73%;
  left: 8.43%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-selengkapnya,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 44px;
}
.button-selengkapnya {
  top: 1462px;
  left: 657px;
  text-align: center;
  color: var(--color-indianred-200);
}
.image-icon {
  position: absolute;
  top: 1015px;
  left: 97.3px;
  width: 481.5px;
  height: 582px;
  object-fit: cover;
}
.legalitas-logis {
  position: absolute;
  width: 19.51%;
  top: 60.73%;
  left: 41.18%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--color-indianred-200);
}
.screenshot-2023-10-05-192433-r-icon {
  position: absolute;
  top: 2158px;
  left: 886px;
  width: 69px;
  height: 25px;
  object-fit: cover;
}
.landing-page-middle-inner,
.rectangle-div {
  position: absolute;
  top: 2250px;
  left: 390px;
  border-radius: var(--br-281xl) 0 0 0;
  background-color: var(--color-firebrick-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 293px;
  height: 319px;
}
.rectangle-div {
  top: 2272px;
  left: 410px;
  background-color: var(--color-firebrick-500);
  width: 311px;
  height: 297px;
}
.cek-perusahaannya-apakah {
  position: absolute;
  top: 2466px;
  left: 467px;
  font-size: var(--font-size-xs);
  line-height: 23px;
  font-weight: 600;
  text-align: justify;
  display: inline-block;
  width: 216px;
  height: 46px;
}
.ufile-check-alt-icon {
  position: absolute;
  top: 2362px;
  left: 560px;
  width: 54px;
  height: 57px;
  overflow: hidden;
}
.landing-page-middle-child1,
.landing-page-middle-child2 {
  position: absolute;
  top: 2250px;
  left: 827px;
  border-radius: 0 var(--br-281xl) 0 0;
  background-color: var(--color-firebrick-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 307px;
  height: 324px;
}
.landing-page-middle-child2 {
  top: 2272px;
  left: 799px;
  background-color: var(--color-firebrick-500);
  width: 312px;
  height: 302px;
}
.cek-rasionalitas-ddan {
  position: absolute;
  top: 2466px;
  left: 847px;
  font-size: var(--font-size-xs);
  line-height: 23px;
  font-weight: 600;
  text-align: justify;
  display: inline-block;
  width: 217px;
  height: 46px;
}
.uchart-pie-alt-icon {
  position: absolute;
  top: 2362px;
  left: 906px;
  width: 54px;
  height: 57px;
  overflow: hidden;
}
.indonesia-financial-services {
  position: absolute;
  width: 41.81%;
  top: 5.44%;
  left: 5.83%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  color: var(--color-firebrick-500);
}
.cek-legalitas,
.cek-logis {
  position: absolute;
  height: 0.93%;
  width: 7.71%;
  top: 68.77%;
  left: 36.94%;
  display: inline-block;
}
.cek-logis {
  height: 0.96%;
  width: 5.69%;
  left: 62.22%;
}
.screenshot-2023-10-06-123734-r-icon {
  position: absolute;
  top: 1654px;
  left: 0;
  width: 1525px;
  height: 434px;
  object-fit: cover;
}
.b,
.b1,
.jumlah-entitas-diberhentikan,
.jumlah-ljk-legal {
  position: absolute;
  height: 1.81%;
  width: 19.03%;
  top: 53.03%;
  left: 31.67%;
  font-size: var(--font-size-29xl);
  display: inline-block;
  color: var(--color-indianred-200);
  text-align: center;
}
.b1,
.jumlah-entitas-diberhentikan,
.jumlah-ljk-legal {
  height: 0.68%;
  width: 32.15%;
  top: 54.84%;
  left: 25.07%;
  font-size: var(--header-home-paragraph-size);
  color: var(--color-dimgray);
}
.b1,
.jumlah-entitas-diberhentikan {
  height: 1.81%;
  width: 18.96%;
  top: 53.03%;
  left: 56.18%;
  font-size: var(--font-size-29xl);
  color: var(--color-indianred-200);
}
.jumlah-entitas-diberhentikan {
  height: 0.68%;
  width: 32.22%;
  top: 54.84%;
  left: 48.33%;
  font-size: var(--header-home-paragraph-size);
  color: var(--color-dimgray);
}
.landing-page-middle-child3 {
  position: absolute;
  height: 1.59%;
  width: 25.28%;
  top: 75.42%;
  right: 63.75%;
  bottom: 22.99%;
  left: 10.97%;
  border-radius: 0 var(--br-481xl) 0 var(--br-481xl);
  background: linear-gradient(90deg, #a21616, rgba(247, 11, 11, 0.76));
}
.pengumuman {
  position: absolute;
  height: 1.25%;
  width: 15.07%;
  top: 75.59%;
  left: 13.13%;
  font-size: var(--font-size-6xl);
  display: inline-block;
  text-align: center;
}
.ellipse-div {
  position: absolute;
  top: 3093.1px;
  left: 642px;
  border-radius: 50%;
  background-color: var(--color-indianred-200);
  width: 12px;
  height: 11px;
}
.landing-page-middle-child4,
.landing-page-middle-child5,
.landing-page-middle-child6,
.landing-page-middle-child7 {
  position: absolute;
  top: 3093.1px;
  left: 666px;
  border-radius: 50%;
  background-color: var(--gray-100);
  width: 11px;
  height: 11px;
}
.landing-page-middle-child5,
.landing-page-middle-child6,
.landing-page-middle-child7 {
  left: 689px;
  width: 12px;
}
.landing-page-middle-child6,
.landing-page-middle-child7 {
  left: 713px;
}
.landing-page-middle-child7 {
  left: 737px;
  width: 11px;
}
.landing-page-middle-child8,
.landing-page-middle-child9 {
  position: absolute;
  top: 532px;
  left: 93px;
  border-radius: var(--br-31xl);
  background-color: var(--color-firebrick-500);
  width: 1245px;
  height: 295px;
}
.landing-page-middle-child9 {
  top: 554px;
  left: 75px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.typing-sjk-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--putih);
  border: 1px solid var(--abu-abu-gelap);
  box-sizing: border-box;
}
.masukan-nama-pelaku {
  position: absolute;
  height: 62%;
  width: 80.11%;
  top: 26%;
  left: 5%;
  display: inline-block;
}
.typing-sjk {
  position: absolute;
  top: 685px;
  left: 156px;
  width: 420.3px;
  height: 50px;
  font-size: var(--font-size-smi);
  color: var(--hitam);
}
.perusahaan {
  position: absolute;
  height: 95.24%;
  width: 19.44%;
  top: 0;
  left: 6.42%;
  display: inline-block;
}
.radio-button-child {
  position: absolute;
  height: 90.48%;
  width: 3.65%;
  top: 9.52%;
  right: 96.35%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid var(--abu-abu-gelap);
  box-sizing: border-box;
}
.individu {
  position: absolute;
  height: 95.24%;
  width: 13.54%;
  top: 4.76%;
  left: 42.36%;
  display: inline-block;
}
.radio-button-item {
  position: absolute;
  height: 90.48%;
  width: 3.65%;
  top: 9.52%;
  right: 60.24%;
  bottom: 0;
  left: 36.11%;
  border-radius: 50%;
  border: 1px solid var(--abu-abu-gelap);
  box-sizing: border-box;
}
.radio-button {
  position: absolute;
  top: 759px;
  left: 160px;
  width: 576px;
  height: 21px;
  color: var(--abu-abu-gelap-2);
}
.landing-page-middle-child10 {
  position: absolute;
  top: 1249px;
  left: 294px;
  border-radius: 50%;
  border: 6px solid var(--color-tomato);
  box-sizing: border-box;
  width: 88px;
  height: 89px;
}
.polygon-icon {
  position: absolute;
  top: 1278.4px;
  left: 330px;
  width: 27px;
  height: 31.2px;
}
.pencarian-nama-pelaku,
.pencarian-nomor-identitas {
  position: absolute;
  top: 654px;
  left: 157.2px;
  color: var(--abu-abu-gelap-2);
  display: inline-block;
  width: 331.4px;
  height: 31px;
}
.pencarian-nomor-identitas {
  top: 653px;
  left: 656px;
}
.cara-penggunaan {
  width: 42.85%;
  top: 27.77%;
  left: 45.63%;
  font-size: var(--font-size-11xl);
  color: var(--color-snow);
}
.cara-penggunaan,
.di-indonesia-seluruh1,
.pencarian {
  position: absolute;
  display: inline-block;
}
.di-indonesia-seluruh1 {
  width: 42.36%;
  top: 29.33%;
  left: 45.9%;
  font-weight: 500;
  text-align: justify;
}
.pencarian {
  width: 14.65%;
  top: 32.11%;
  left: 51.46%;
  font-size: var(--header-home-paragraph-size);
  font-weight: 600;
  color: var(--color-snow);
}
.landing-page-middle-child11,
.landing-page-middle-child12,
.landing-page-middle-child13 {
  position: absolute;
  top: 1133px;
  left: 657px;
  border-radius: 50%;
  background-color: var(--color-indianred-100);
  width: 59px;
  height: 61px;
}
.landing-page-middle-child12,
.landing-page-middle-child13 {
  top: 1245px;
}
.landing-page-middle-child13 {
  top: 1357px;
}
.landing-page-middle-child14,
.landing-page-middle-child15 {
  position: absolute;
  top: 1190px;
  left: 681px;
  background-color: var(--color-indianred-400);
  width: 8px;
  height: 79px;
}
.landing-page-middle-child15 {
  top: 1301px;
  height: 68px;
}
.cek-pelaku-usaha,
.verifikasi {
  position: absolute;
  left: 51.46%;
  display: inline-block;
}
.cek-pelaku-usaha {
  width: 33.61%;
  top: 32.96%;
  font-weight: 500;
  text-align: justify;
}
.verifikasi {
  width: 6.88%;
  top: 35.25%;
  font-size: var(--header-home-paragraph-size);
  font-weight: 600;
  color: var(--color-snow);
}
.pastikan-izin-cek {
  width: 33.61%;
  top: 36.1%;
  font-weight: 500;
  text-align: justify;
}
.informasi,
.pastikan-izin-cek,
.selalu-gunakan-nomor {
  position: absolute;
  left: 51.46%;
  display: inline-block;
}
.informasi {
  width: 12.08%;
  top: 38.42%;
  font-size: var(--header-home-paragraph-size);
  font-weight: 600;
  color: var(--color-snow);
}
.selalu-gunakan-nomor {
  width: 33.61%;
  top: 39.27%;
  font-weight: 500;
  text-align: justify;
}
.b2,
.b3,
.b4 {
  width: 1.74%;
  font-size: var(--font-size-11xl);
  color: var(--color-snow);
  text-align: center;
}
.b2 {
  position: absolute;
  top: 32.33%;
  left: 46.74%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b3,
.b4 {
  left: 46.81%;
}
.b3 {
  position: absolute;
  top: 35.48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b4 {
  top: 38.65%;
  display: inline-block;
}
.atau,
.b4,
.footer {
  position: absolute;
}
.atau {
  top: 698px;
  left: 598.8px;
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 58px;
  height: 31px;
}
.footer {
  top: 3777px;
  left: 15px;
  background-color: var(--color-white);
  width: 1509px;
  height: 331px;
  overflow: hidden;
}
.landing-page-middle-child16 {
  position: absolute;
  top: 3201px;
  left: 0;
  background-color: #9d1f20;
  width: 1440px;
  height: 331px;
}
.landing-page-middle-child17 {
  position: absolute;
  top: 3470px;
  left: -6px;
  background-color: #c52027;
  width: 1509px;
  height: 62px;
}
.otoritas-jasa-keuangan-gedung {
  font-size: var(--font-size-xs);
}
.jalan-lapangan-banteng,
.otoritas-jasa-keuangan-gedung {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.indonesia {
  margin: 0;
}
.otoritas-jasa-keuangan-container1 {
  line-break: anywhere;
  width: 100%;
}
.div,
.div1,
.humasojkgoid,
.mengatur-mengawasi-container,
.otoritas-jasa-keuangan-container {
  position: absolute;
  top: 3234px;
  left: 100px;
  display: flex;
  align-items: center;
  width: 595px;
  height: 128px;
  font-size: var(--font-size-3xs);
}
.div,
.div1,
.humasojkgoid,
.mengatur-mengawasi-container {
  top: 3348px;
  left: 120px;
  font-weight: 600;
  width: 90px;
  height: 28px;
}
.div1,
.humasojkgoid,
.mengatur-mengawasi-container {
  left: 245px;
  width: 93px;
}
.humasojkgoid,
.mengatur-mengawasi-container {
  left: 360px;
  width: 103px;
}
.mengatur-mengawasi-container {
  top: 3499px;
  left: 1146px;
  font-size: var(--font-size-xs);
  width: 343px;
  height: 19px;
}
.landing-page-middle-child18,
.landing-page-middle-child19 {
  position: absolute;
  top: 3278px;
  left: 907px;
  background-color: var(--color-white);
  width: 596px;
  height: 75px;
}
.landing-page-middle-child19 {
  top: 3237px;
  left: 812px;
  width: 202px;
  height: 81px;
}
.image-32-icon {
  position: absolute;
  top: 3245px;
  left: 826px;
  width: 162px;
  height: 61px;
  object-fit: cover;
}
.intersect-icon {
  position: relative;
  width: 104.1px;
  height: 36.1px;
}
.kontak-ojk-157 {
  position: absolute;
  top: 3291px;
  left: 1045px;
  font-size: var(--font-size-11xl);
  display: flex;
  background: linear-gradient(89.61deg, #8e0f16, #dd2628 36.25%, #992122);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  width: 278px;
}
.vector-icon {
  position: absolute;
  height: 0.2%;
  width: 0.69%;
  top: 95.09%;
  right: 75.24%;
  bottom: 4.71%;
  left: 24.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ucalling-icon,
.uprint-icon {
  position: absolute;
  top: 3356px;
  left: 100px;
  width: 15px;
  height: 13px;
  overflow: hidden;
}
.uprint-icon {
  left: 227px;
  width: 16px;
}
.mudah-cepat {
  position: absolute;
  height: 19.69%;
  width: 64.62%;
  top: 80.36%;
  left: 35.38%;
  display: inline-block;
}
.mudah-dan-cepat-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(142.77deg, #934343, rgba(255, 24, 24, 0.56));
  width: 119.7px;
  height: 121.1px;
}
.mudah-dan-cepat {
  position: absolute;
  top: 255.4px;
  left: 835.9px;
  width: 368.9px;
  height: 199.6px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-indianred-200);
}
.lengkap-terbaru {
  position: absolute;
  height: 16.68%;
  width: 100%;
  top: 83.32%;
  left: 0;
  display: inline-block;
}
.vector-icon1 {
  position: absolute;
  height: 32.45%;
  width: 18.7%;
  top: 4.62%;
  right: 41.72%;
  bottom: 62.92%;
  left: 39.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 7.84%;
  width: 4.69%;
  top: 25.76%;
  right: 53.8%;
  bottom: 66.39%;
  left: 41.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 42.61%;
  width: 18.14%;
  top: 0;
  right: 47.78%;
  bottom: 57.39%;
  left: 34.08%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 1.82%;
  width: 9.32%;
  top: 8.34%;
  right: 52.22%;
  bottom: 89.84%;
  left: 38.46%;
}
.vector-icon5,
.vector-icon6 {
  height: 3.72%;
  width: 4.38%;
  top: 13.87%;
  right: 57.16%;
  bottom: 82.41%;
}
.vector-icon6 {
  height: 4.62%;
  width: 1.12%;
  top: 21.3%;
  right: 60.42%;
  bottom: 74.07%;
}
.lengkap-dan-terbaru {
  position: absolute;
  top: 290.1px;
  left: 810px;
  width: 196.3px;
  height: 121.1px;
  font-size: var(--font-size-lg);
  color: var(--color-indianred-200);
}
.aman-dan-terverifikasi-child {
  position: absolute;
  top: 0;
  left: 62px;
  border-radius: 50%;
  background: linear-gradient(142.77deg, #934343, rgba(255, 24, 24, 0.56));
  width: 119px;
  height: 117.6px;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 29.79%;
  width: 21.67%;
  top: 17.75%;
  right: 42.1%;
  bottom: 52.46%;
  left: 36.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  height: 9.5%;
  width: 8.34%;
  top: 27.87%;
  right: 47.89%;
  bottom: 62.63%;
  left: 43.76%;
}
.aman-terverifikasi {
  position: absolute;
  height: 23.29%;
  width: 100%;
  top: 76.71%;
  left: 0;
  display: inline-block;
}
.aman-dan-terverifikasi {
  position: absolute;
  top: 254.3px;
  left: 1154.1px;
  width: 258.9px;
  height: 176.9px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-indianred-200);
}
.landing-page-middle-child20 {
  position: absolute;
  top: 215px;
  left: 997px;
  border-radius: 50%;
  background: linear-gradient(142.77deg, #934343, rgba(255, 24, 24, 0.56));
  width: 177px;
  height: 182px;
}
.last-updated {
  font-weight: 300;
}
.last-publish-date-container,
.last-updated-container {
  position: absolute;
  top: 807px;
  left: 416px;
  font-size: var(--font-size-smi);
  color: var(--abu-abu-gelap-2);
  display: flex;
  align-items: center;
  width: 329px;
  height: 31px;
}
.last-publish-date-container {
  left: 163px;
}
.image-31-icon {
  position: absolute;
  top: 25px;
  left: 36px;
  width: 186px;
  height: 70px;
  object-fit: cover;
}
.group-icon {
  position: absolute;
  height: 2.18%;
  width: 8.15%;
  top: 7.56%;
  right: 20.95%;
  bottom: 90.26%;
  left: 70.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-firebrick-500);
}
.cek-fsr-sekarang {
  position: absolute;
  height: 58.82%;
  width: 76.96%;
  top: 23.53%;
  left: 13.48%;
  font-weight: 600;
  display: inline-block;
}

.cek-fsr-sekarang:hover {
  height: 89%;
  width: 90%;
  top: 25%;
  left: 16%;
  cursor: pointer;

}

.rectangle-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cek-fsr {
  position: absolute;
  top: 431px;
  left: 80px;
  width: 230px;
  height: 51px;
  font-size: var(--font-size-lg);
}
.group-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  border: 4px solid var(--color-firebrick-500);
  box-sizing: border-box;
}
.laporkan-entitas-ilegal {
  position: absolute;
  height: 58.82%;
  width: 81.85%;
  top: 21.57%;
  left: 11.85%;
  font-weight: 600;
  display: inline-block;
}
.laporkan {
  position: absolute;
  top: 431px;
  left: 337px;
  width: 270px;
  height: 51px;
  font-size: var(--font-size-lg);
  color: var(--color-firebrick-500);
}
.beranda,
.navbar-beranda-child {
  position: absolute;
  height: 92.11%;
  top: 0;
}
.navbar-beranda-child {
  width: 99.86%;
  right: 0.14%;
  bottom: 7.89%;
  left: 0;
}
.beranda {
  width: 13.11%;
  left: 23.05%;
  font-weight: 500;
  color: var(--color-sienna);
  display: inline-block;
}
.layanan {
  width: 15.42%;
  left: 39.77%;
}
.bantuan,
.layanan,
.pengumuman1 {
  position: absolute;
  height: 92.11%;
  top: 0;
  display: inline-block;
}
.pengumuman1 {
  width: 23.2%;
  left: 58.79%;
  color: var(--hitam);
}
.bantuan {
  width: 14.41%;
  left: 85.59%;
}
.navbar-beranda-item {
  position: absolute;
  height: 18.42%;
  width: 1.01%;
  top: 81.58%;
  right: 69.88%;
  bottom: 0;
  left: 29.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.navbar-beranda {
  position: absolute;
  top: 42px;
  left: 686px;
  width: 694px;
  height: 38px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--header-black);
}
.cari-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-firebrick-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.cari,
.cari-child,
.cari1 {
  position: absolute;
}
.cari1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cari {
  top: 685px;
  left: 1147px;
  width: 119.5px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--putih);
}
.next-prev-button {
  position: absolute;
  top: 3076px;
  left: 1244px;
  width: 81.4px;
  height: 34px;
}
.selengkapnya-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-indianred-200);
  box-sizing: border-box;
}
.selengkapnya2 {
  position: absolute;
  width: 57.67%;
  top: 15%;
  left: 24.65%;
  display: inline-block;
}
.selengkapnya1 {
  position: absolute;
  top: 2681px;
  left: 1111px;
  width: 215px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-indianred-200);
}
.cari-lembaga-jasa {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.fill {
  position: absolute;
  height: 11.11%;
  width: 36.94%;
  top: 88.89%;
  right: 62.82%;
  bottom: 0;
  left: 0.24%;
  border-radius: 1px;
  background-color: #c31815;
  opacity: 0.9;
  mix-blend-mode: normal;
}
.cari-produk1 {
  position: absolute;
  top: 0;
  left: 74.82%;
  font-weight: 600;
  color: var(--text);
}
.cari-produk,
.typing-nomor {
  position: absolute;
  top: 593px;
  left: 156px;
  width: 425px;
  height: 36px;
  font-size: var(--font-size-lg);
  color: var(--color-firebrick-500);
}
.typing-nomor {
  top: 685px;
  left: 656px;
  width: 420.3px;
  height: 50px;
  font-size: var(--font-size-smi);
  color: var(--hitam);
}
.berita-4-child,
.landing-page-middle-child21 {
  position: absolute;
  top: 3383px;
  left: 812px;
  width: 223px;
  height: 39px;
}
.berita-4-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke);
}
.ojk-cabut-izin,
.otoritas-jasa-keuangan {
  position: absolute;
  left: 5.48%;
  display: inline-block;
}
.ojk-cabut-izin {
  height: 26.88%;
  width: 82.74%;
  top: 14.34%;
  line-height: 23px;
  text-align: left;
}
.otoritas-jasa-keuangan {
  height: 46.24%;
  width: 88.49%;
  top: 53.76%;
  font-size: var(--font-size-smi);
  line-height: 20px;
}
.berita-4-item {
  position: absolute;
  height: 8.6%;
  width: 99.73%;
  top: 0;
  right: 0.27%;
  bottom: 91.4%;
  left: 0;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-firebrick-100);
}
.september-2023 {
  position: absolute;
  height: 6.81%;
  width: 94.52%;
  top: 45.16%;
  left: 5.48%;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.berita-4,
.berita-5,
.berita-6 {
  position: absolute;
  top: 2749px;
  left: 158px;
  width: 365px;
  height: 279px;
  text-align: justify;
  color: var(--color-gray-100);
}
.berita-5,
.berita-6 {
  left: 952px;
}
.berita-5 {
  left: 555px;
}
.chatbot-icon {
  position: absolute;
  top: 500px;
  left: 1344px;
  width: 73px;
  height: 71px;
}
.landing-page-middle {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3532px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--header-home-paragraph);
}
